<html>
  <head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <title><%= params[:first_letter] %> - <%= params[:stock_level] %>- Full Inventory Report</title>
  </head>
  <body>

  <div style="font-size: 1.4em; margin: 0 auto; text-align: center; width: 100%;">
    <strong><%= link_to "ALL", admin_full_inventory_report_url + "?stock_level=#{params[:stock_level]}" %></strong>
    
    <% ("a".."z").each do |l| %>
      <%= link_to l.upcase, admin_full_inventory_report_url + "?first_letter=#{l}&stock_level=#{params[:stock_level]}" %>&nbsp;
    <% end %>

    <br/>

    <%= form_tag admin_full_inventory_report_path, {method: "GET"} do %>
      <%= text_field_tag :sku, params[:sku], size: 16, placeholder: "Search by SKU" %>
      <%= hidden_field_tag :first_letter, params[:first_letter] %>
      <%= hidden_field_tag :stock_level, params[:stock_level] %>
      <%= hidden_field_tag :page, params[:page] %>
      <%= submit_tag "Go" %>
    <% end %>
    <br/>

    <% if params[:sku].blank? %>
      <strong>TOTAL STOCK LEVEL :</strong>
      <%= link_to "POSITIVE", admin_full_inventory_report_url + "?sku=#{params[:sku]}&first_letter=#{params[:first_letter]}&stock_level=in_stock" %> &ndash;
      <%= link_to "ZERO", admin_full_inventory_report_url + "?sku=#{params[:sku]}&first_letter=#{params[:first_letter]}&stock_level=zero" %> &ndash;
      <%= link_to "BACKORDER", admin_full_inventory_report_url + "?sku=#{params[:sku]}&first_letter=#{params[:first_letter]}&stock_level=backordered" %>
    <% end %>
  </div>

  <br/>
    <table width="100%" border="0" cellspacing="1" cellpadding="5" bgcolor="#d8d8d8">
      <thead>
        <th>Title</th>
        <th>SKU</th>
        <th>Publisher</th>
        <th>Format</th>
        <th>In Queue<br/>(Captured)</th>
        <th>Reserved<br/>(Authorized)</th>
        <th>Available</th>
        <th>Total</th>
        <th>Cost / Unit</th>
        <th>Unsold cost</th>
      </thead>
      <% total = 0.0 %>
      <% queue_total = 0.0 %>
      <% reserve_total = 0.0 %>
      <% available_total = 0.0 %>

      <% @inventory.each do |i| %>
        <% i.count_on_hand = i.count_on_hand ? i.count_on_hand : 0.0 %>
        <tr bgcolor="#ffffff" valign="top">
          <td><%= i.title.split(":").first %></td>
          <td align="center"><%= i.sku[0..30] %></td>
          <td align="center"><%= i.publisher %></td>
          <td align="center"><%= i.options_text.split(": ").last %></td>
          <td align="center">              
            <% i_total = i.inventory_units.queued.size %>
            <% queue_total += i_total * i.recent_price %>
            <%= link_to i_total, url_for_queue(i), target: i.id, title: "#{Spree::Money.new(i_total * i.recent_price)}" %>
          </td>
          <td align="center">
            <% r_total = i.inventory_units.reserved.size; reserve_total += r_total * i.recent_price %>
            <%= link_to r_total, url_for_queue(i), target: i.id, title: "#{Spree::Money.new(r_total * i.recent_price)}" %>
          </td>
          <td align="center">
            <%= link_to i.count_on_hand, edit_admin_product_variant_path(i.permalink, i.id), target: i.id, title: Spree::Money.new(i.count_on_hand * i.recent_price) %>
            <% available_total += i.count_on_hand * i.recent_price %>
          </td>
          <td align="center">
            <%= i.count_on_hand + i.inventory_units.queued.size + r_total  %></a>
          </td>
          <td align="center">
            <% recent_price_url = edit_admin_product_variant_url(i.product, i) %>

            <% if rp = i.last_purchase_order_line_item and rp.purchase_order %>
              <% recent_price_url = admin_purchase_order_edit_line_items_url(rp.purchase_order) %>
            <% end %>

            <%= link_to Spree::Money.new(i.recent_price), recent_price_url, target: i.id, title: recent_price_history(i) %>
          </td>
          <% line_total = i.recent_price.to_f * (i.count_on_hand + i_total + r_total) %>
          <td align="center"><%= Spree::Money.new(line_total) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan='3'>&nbsp;</td>
        <td colspan='2' align='right'><%= Spree::Money.new(queue_total) %></td>
        <td align='center' style='border-left: 1px #fff solid;'><%= Spree::Money.new(reserve_total) %></td>
        <td colspan='2' align='center' style='border-left: 1px #fff solid;'><%= Spree::Money.new(available_total) %></td>
        <td colspan='2' align="right"><%= Spree::Money.new(queue_total + reserve_total + available_total) %></td>
      </tr>
  </table>
  <script>$("#sku").focus().select();</script>

  <center>
    To see a total cost for just items In Queue or Available, hover over the link in that column.
  </center>


  </body>
</html>
