<tr valign="top">
  <td width="40%">
    <%= image_tag(line_item.variant.product.images.first.attachment.url(:mini), 
                  valign: "middle", 
                  align: "left",
                  style: "margin-right: 10px") %>

    <%= line_item.variant.product.name.split(":").first %>
   
    <br/>
    <%= line_item.variant.sku %>
    <br/>
    On hand: <%= line_item.variant.on_hand %>

  </td>
  <td width="30%"><%= line_item.quantity  %></td>
  <td width="30%"><%= number_to_currency(line_item.price) %></td>
</tr>



