<div data-hook="admin_purchase_order_form_fields">
  <div class="alpha eighteen columns omega">
    <%= form_for [:admin, @purchase_order] do |f| %>

    <div class="eight columns alpha">
      <fieldset data-hook="purchase-order-details" class="no-border-bottom">
        <legend align="center">
          <%= t(:shipping) %>
        </legend>

        <% if @purchase_order.dropship %>
          <%= render partial: "spree/admin/shared/purchase_order_address", locals: { f: f } %>

        <% else %>
          <%= f.hidden_field :address_id, value: @office_address.id %>
          <%= @office_address %>

        <% end %>

        
        <div data-hook="purchase_order_shipping_method_id" class="field">
        <%= f.label :shipping_method_id, t(:shipping_method) %> 
        <%= f.collection_select :shipping_method_id, 
          Spree::ShippingMethod.order("name asc"), 
          :id, 
          :name, 
          {},  
          {class: 'fullwidth' } %>
        </div>

        <% if @purchase_order.status.blank? %>
          <%= f.hidden_field :status, value: "Entered" %>
        <% else %>
            <%= f.label :status, t(:manually_override_status) %> 
            <%= f.select :status, Spree::PurchaseOrder.states, {},  {class: 'fullwidth' } %>
        <% end %>

      </fieldset>

      <fieldset data-hook="purchase-order-details" class="no-border-bottom">
        <legend align="center">
          <%= t(:other_details) %>
        </legend>
          
        <div data-hook="purchase_order_order" class="field">
          <%= f.label :order_id, t(:corresponding_order) %> 
          <%= f.collection_select :order_id, 
            Spree::Order.eligible_for_po(@purchase_order), 
            :id, 
            :to_select, 
            { prompt: "Select optional reference order"},  
            { class: 'fullwidth select2' } %>
        </div>          

        <div data-hook="purchase_order_supplier" class="field">
          <%= f.label :supplier_contact_id, t(:supplier_and_contact) %> 
          <%= f.collection_select :supplier_contact_id, 
            Spree::SupplierContact.eligible_for_select, 
            :id, 
            :name_with_supplier, 
            {},  
            {class: 'fullwidth select2' } %>
        </div>

        
        <div data-hook="purchase_order_terms" class="field">
          <%= f.label :terms, t(:payment_terms) %> 
          <br/>
          <%= f.text_field :terms, class: 'fullwidth' %>
        </div>

        <div data-hook="purchase_order_due_at" class="field">
          <%= f.label :due_at, t(:date_needed_by) %> 
          <br/>
          <%= f.text_field :due_at, 
            value: datepicker_field_value(@purchase_order.due_at), 
            class: 'datepicker datepicker-from fullwidth' %>
        </div>

        <div data-hook="purchase_order_comments" class="field">
          <%= f.label :comments, t(:comments) %> 
          <br/>
          <%= f.text_area :comments, class: 'fullwidth', rows: 3 %>
        </div>
        <div data-hook="purchase_order_adjustments" class="field">
          <%= f.label :balance_adjustments, t(:balance_adjustments) %>
          <table width="100%" cellspacing="3" cellpadding="0">
          <thead>
            <th>Discount</th>              
            <th>Shipping</th>
            <th>Deposit</th>
          </thead>

          <tr valign="top">
            <td width="33%">
              <%= f.text_field :discount, 
                class: 'fullwidth', 
                  placeholder: "Discount" %>
            </td>
            <td width="33%">

              <%= f.text_field :shipping, 
                class: 'fullwidth', 
                  placeholder: "Shipping" %>
            </td>
            <td width="33%">

              <%= f.text_field :deposit,
                class: 'fullwidth', 
                  placeholder: "Deposit" %>
             </td>
           </tr>
          </table>

        </div>
      </fieldset>
    </div>

    <div class="eight columns omega">
      <fieldset data-hook="purchase-order-line-items" class="no-border-bottom">
        <legend align="center">
          <%= @purchase_order.dropship ? t(:line_item) : t(:line_items) %>
        </legend>

        <div id="purchase-order-line-items">
          <%= render partial: "po_line_items", locals: { f: f } %>
        </div>

        <div class="form-buttons filter-actions actions" data-hook="edit-line-item-buttons">
          <%= button_link_to t(:edit_line_items), admin_purchase_order_edit_line_items_path(@purchase_order.number) , :icon => 'icon-arrow-left' %>

        </div>
      </fieldset>
                 
    </div>

  <div class="clear"></div>
  <br/>


    <div class="form-buttons filter-actions actions" data-hook="buttons">

      <%= button t(:save), 'icon-arrow-right' %>
      <span class="or"><%= t(:or) %></span>
      <%= button_link_to t(:cancel), collection_url, :icon => 'icon-remove' %>
    </div>

    <% end %>
  </div>
</div>

<script>
  $("#purchase_order_supplier_id").select2();
  $("#purchase_order_shipping_method_id").select2();
  $("#purchase_order_address_id").select2();
  $("#purchase_order_status").select2();
  
</script>


