<%= render :partial => 'spree/admin/shared/inventory_sub_menu' %>

<% content_for :page_title do %>
  <%= t(:purchase_orders_and_drop_ships) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_purchase_order), 
      new_admin_purchase_order_path + "?type=PO", 
      icon: 'icon-plus' %>
  </li>
  <li>
    <%= button_link_to t(:new_drop_ship), 
      new_admin_purchase_order_path + "?type=DS", 
      icon: 'icon-plus' %>
  </li>
    
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_purchase_orders_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="field-block alpha four columns">
        <div class="field">
          <%= label_tag nil, t(:type_of_order) %>
          <%= f.select :dropship_eq, { "Dropship" => true, "Purchase order" => false },  {include_blank: true}, class: "select2 fullwidth" %>
        </div>

        <div class="field">
          <%= label_tag nil, t(:status) %>
          <br/>
          <%= f.select :status_cont, Spree::PurchaseOrder.states, {:include_blank => true}, :class => 'select2 fullwidth'%>
        </div>
      </div>

      <div class="four columns">

        <div class="date-range-filter field">

          <%= label_tag nil, t(:date_range) %>
          <div class="date-range-fields">
            <%= f.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => params[:q][:created_at_gt], :placeholder => t(:start) %>

            <span class="range-divider">
              <i class="icon-arrow-right"></i>
            </span>

            <%= f.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => params[:q][:created_at_lt], :placeholder => t(:stop) %>
          </div>
        </div>

        
        <div class="field">
          <%= label_tag nil, t(:supplier) %>
          <%= f.text_field :supplier_name_cont %>
        </div>
      </div>

      <div class="four columns">
        <div class="field">
          <%= label_tag nil, t(:order_num) %>
          <%= f.text_field :number_cont %>
        </div>
        <div class="field">
          <%= label_tag nil, t(:staff_member_email) %>
          <%= f.text_field :user_email_start %>
        </div>
      </div>

      <div class="four columns omega">
        <div class="field">
          <%= label_tag nil, t(:ship_to_first_name_begins_with) %>
          <%= f.text_field :address_firstname_start, :size => 25 %>
        </div>
        <div class="field">
          <%= label_tag nil, t(:ship_to_last_name_begins_with) %>
          <%= f.text_field :address_lastname_start, :size => 25%>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_purchase_orders_index_search_buttons">
          <%= button t(:filter_results), 'icon-search' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% unless @purchase_orders and @purchase_orders.any? %>
  <div class="no-objects-found">
    <%= t(:no_results) %>
  </div>
<% else %>
  <table class="index">
    <colgroup>
    	<col style="width: 15%">
      <col style="width: 15%">
      <col style="width: 35%">
      <col style="width: 30%">
      <col style="width: 10%">
    </colgroup>
    <thead>
      <tr data-hook="rate_header">
        <th><%= t(:order_number) %></th>
        <th><%= t(:supplier) %></th>
        <th><%= t(:details) %></th>
        <th><%= t(:ship_to) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_orders.each do |purchase_order|%>
        <% unless purchase_order.status.blank? %>
          <tr id="<%= spree_dom_id purchase_order %>" data-hook="rate_row" class="<%= cycle('odd', 'even')%>">

            <td>
              <b><%= purchase_order.dropship ? "Dropship" : "Purchase Order" %></b><br/>
              <%= purchase_order.number %>            
              <br/>
              <% if purchase_order.order %>
                <%= link_to purchase_order.order, admin_order_url(purchase_order.order), target: "_NEW" %>
              <% else %>
                 No reference order
              <% end %>
              <br/>
              Status: <%= purchase_order.status %>
              <% if purchase_order.status == "Submitted" and purchase_order.dropship %>
                <br/>
                <%= link_to "Mark as complete?", admin_purchase_order_complete_path(purchase_order) %>
              <% end %>
              <br/>
            </td>
            <td>
              <% if purchase_order.supplier and purchase_order.supplier.email %>
                <%= link_to purchase_order.supplier, "mailto:#{purchase_order.supplier.email}", title: "E-mail this supplier" %>
              <% else %>
                <%= purchase_order.supplier %>
              <% end %>

              <br/>
              <% if purchase_order.supplier and purchase_order.supplier.phone %>
                <%= purchase_order.supplier.phone %>
              <% end %>
            </td>
            <td>
              
              <%= line_item_details(purchase_order.purchase_order_line_items).html_safe %> 
              <br/>

              By: <%= purchase_order.user.email.split("@").first.capitalize %> - <%= purchase_order.created_at.strftime("%m/%d/%Y %H:%M") %>

            </td>
            <td>
              <%= purchase_order.address %><br/>
              <% unless not purchase_order.shipping_method %>
                Via: <%= purchase_order.shipping_method.name.upcase %>
              <% end %>
            </td>
            <td class="actions">
              <%= link_to_with_icon("icon-edit", 
                                    "Edit", 
                                    admin_purchase_order_edit_line_items_path(purchase_order), 
                                    style: "margin-bottom: 4px",
                                    no_text: true)  %>
              <br/>

              <% if purchase_order.can_destroy? %>
                <%= link_to_with_icon("icon-trash", 
                                      "Remove", 
                                      admin_purchase_order_path(purchase_order), 
                                      style: "margin-bottom: 4px",
                                      no_text: true,
                                      method: "delete",
                                      confirm: "Remove #{purchase_order.po_type} #{purchase_order.number}?" )  %>
                                    <br/>
              <% end %>
              <br/>

              <% if purchase_order.status == "Entered" %>
                <%= link_to_with_icon("icon-envelope", 
                                      "Submit to supplier", 
                                      admin_purchase_order_submit_path(purchase_order) + ".#{purchase_order.hardcopy_extension}", 
                                      no_text: true, 
                                      style: "margin-bottom: 4px",
                                      target: "_NEW",
                                      confirm: "E-mail invoice to #{purchase_order.supplier.email} and then view #{purchase_order.hardcopy_extension.upcase}?")  %>
                <br/>
              <% end %>
                          
              <%= link_to_with_icon("icon-file", 
                                    "Download #{purchase_order.hardcopy_extension.upcase}", 
                                    admin_purchase_order_path(id: purchase_order.number, format:  purchase_order.hardcopy_extension), 
                                    style: "margin-bottom: 4px",
                                    target: "_NEW",
                                    no_text: true)  %>            
              <br/>

            </td>

          </tr>
        <% end %>
      <% end %>

    </tbody>
  </table>
<% end %>



